nav {
    background: none;
    padding: 10px 15px 10px 15px;
    display: inline-block;
 }

nav a {
    padding: 10px 15px 10px 15px;
    /*display: inline-block;*/
    /*text-align:center;*/

}

nav a:hover {
    background-color: #3ABA44;
    padding: 15px 15px 15px 15px;
    color: white;
}

.active {
    background-color: #3ABA44;
    padding: 15px 15px 15px 15px;

}